<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="recommend(top, outer, bottom)">

    <div>
        <h2 id="pageLogo">Today's Recommend</h2>
        <small id="pageInfo">How about this?</small>
        <br/><br/>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="carouselDiv">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id="carouselImg1" th:src="@{${outer.mainUrl}}" class="d-block w-100" alt="1번 이미지">
                    </div>
                    <div class="carousel-item">
                        <img id="carouselImg2" th:src="@{${top.mainUrl}}" class="d-block w-100" alt="2번 이미지">
                    </div>
                    <div class="carousel-item">
                        <img id="carouselImg3" th:src="@{${bottom.mainUrl}}" class="d-block w-100" alt="3번 이미지">
                    </div>
                </div>

                <button class="carousel-control-prev" style="background-color: #FFFFFF" type="button"
                        onclick="$('#carouselExampleIndicators').carousel('prev')"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" style="background-color: #FFFFFF"
                        onclick="$('#carouselExampleIndicators').carousel('next')"
                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>

</div>
</html>