<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="review_list(reviewList, currentUser)">
    <div class="container">
        <div class="row">
            <div class="col" width="20%" style="font-weight: bold">
                WRITER
            </div>
            <div class="col-6" width="60%">
                TITLE
            </div>
            <div class="col" width="20%">
                WRITE DATE
            </div>
        </div>

        <hr>

        <div class="container">
            <div th:if="${reviewList.size==0}">No Reviews</div>
            <div class="row" th:each="review:${reviewList}">
                <div class="col" th:text="${review.member.email}" width="10%"></div>
                <div class="col" th:text="${review.title}" width="80%"></div>
                <div class="col" th:text="${review.createDate}" width="10%"></div>
                <div class="w-100"></div>
                <div class="col">
                    <details>
                        <summary style="text-align: right">details</summary>
                        <div class="col" th:text="${review.content}" width="80%"></div>
                        <button class="btn btn-link" style="color:gray;font-size:small"
                                th:if="${currentUser.id}==${review.member.id}" th:id="delete-review"
                                th:value="${review.id}">DELETE
                        </button>
                        <button class="btn btn-link" style="color:gray;font-size:small"
                                th:if="${currentUser.id}==${review.member.id}" th:id="modify-review">MODIFY
                        </button>
                        <button class="btn btn-link" style="color:gray;font-size:small"
                                th:if="${currentUser.id}!=${review.member.id}" th:id="reply-review">REPLY
                        </button>
                    </details>
                </div>
            </div>
        </div>

    </div>
</div>
</html>