<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Detail Page'">

<div layout:fragment="content" class="container" style="background-color: #FFFFFF;">
    <div class="row justify-content-center py-5">

        <form class="needs-validation" th:id="codyForm" th:action="@{/cody}" th:object="${codyForm}" method="post"
              novalidate>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="20%">아우터</th>
                    <th width="20%">상의</th>
                    <th width="20%">하의</th>
                    <th width="20%">가방</th>
                    <th width="20%">신발</th>
                </tr>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <!--                아우터-->
                    <td>
                        <img th:id="outerCody" class="imgbox_middle" >
                        <input th:id="outerId" type="hidden" th:attr="name='outerId'"></input>
                    </td>
                    <!--                상의-->
                    <td>
                        <img th:id="topCody" class="imgbox_middle"
                             >
                        <input th:id="topId" type="hidden" th:attr="name='topId'"></input>
                    </td>

                    <!--                                하의-->
                    <td>
                        <img th:id="bottomCody" class="imgbox_middle"
                             >
                        <input th:id="bottomId" type="hidden" th:attr="name='bottomId'"></input>
                    </td>
                    <!--                가방-->
                    <td>
                        <img th:id="accCody" class="imgbox_middle"
                            >
                        <input th:id="accId" type="hidden" th:attr="name='accId'"></input>
                    </td>

                    <!--                신발-->
                    <td>
                        <img th:id="shoesCody" class="imgbox_middle">

                        <input th:id="shoesId" type="hidden" th:attr="name='shoesId'"
                              ></input>
                    </td>


                </tr>

                <tr>
                    <input type="button" th:id="submit_btn" class="w-50 btn btn-dark btn-lg" value="submit">
                </tr>
            </table>

            </tbody>


        </form>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="20%">상의</th>
                <th width="20%">아우터</th>
                <th width="20%">하의</th>
                <th width="20%">가방</th>
                <th width="20%">신발</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <!--                아우터-->
                <td>
                    <li th:if="${outerList.size()== 0}">Add Outer List</li>
                    <li th:each="item:${outerList}">
                        <img th:class="outerimgbox" th:src="@{'/assets/'+${item.getImg_name()}}"
                             th:alt="${item.getId()}">
                    </li>
                </td>
                <!--                상의-->
                <td>
                    <li th:if="${topList.size()== 0}">Add Top List</li>
                    <li th:each="item:${topList}">
                        <img th:class="topimgbox" th:src="@{'/assets/'+${item.getImg_name()}}"
                             th:alt="${item.getId()}">
                    </li>
                </td>

                <!--                하의-->
                <td>
                    <li th:if="${bottomList.size()== 0}">Add Bottom List</li>
                    <li th:each="item:${bottomList}">
                        <img th:class="bottomimgbox" th:src="@{'/assets/'+${item.getImg_name()}}"
                             th:alt="${item.getId()}">
                    </li>
                </td>


                <!--                가방-->
                <td>
                    <li th:if="${accList.size()== 0}">Add Acc List</li>
                    <li th:each="item:${accList}">
                        <img th:class="accimgbox" th:src="@{'/assets/'+${item.getImg_name()}}"
                             th:alt="${item.getId()}">
                    </li>
                </td>

                <!--                신발-->
                <td>
                    <li th:if="${shoesList.size()== 0}">Add Shoes List</li>
                    <li th:class="shoes" th:each="item:${shoesList}">
                        <img th:class="shoesimgbox" th:src="@{'/assets/'+${item.getImg_name()}}"
                             th:alt="${item.getId()}">
                    </li>
                </td>

            </tr>

            </tbody>

        </table>

    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            $("#submit_btn").click(function () {
                if ($("#topCody").attr('src') == null) {
                    alert("Please select a top.");
                    return false;
                }

                if ($("#bottomCody").attr('src') == null) {
                    alert("Please select a bottom");
                    return false;
                }

                if ($("#shoesCody").attr('src') == null) {
                    alert("Please select the shoes.");
                    return false;
                }

                $("#codyForm").submit();
                alert("Success save this cody");
            });
        });


        $(document).ready(function () { // document loading 후 실행할 함수

            var outerCody = document.querySelector("#outerCody");
            var topCody = document.querySelector("#topCody");
            var bottomCody = document.querySelector("#bottomCody");
            var accCody = document.querySelector("#accCody");
            var shoesCody = document.querySelector("#shoesCody");

            var outerbox = document.querySelectorAll(".outerimgbox");
            var topbox = document.querySelectorAll(".topimgbox");
            var bottombox = document.querySelectorAll(".bottomimgbox");
            var accbox = document.querySelectorAll(".accimgbox");
            var shoesbox = document.querySelectorAll(".shoesimgbox");

            var outerId = document.querySelector("#outerId");
            var topId = document.querySelector("#topId");
            var bottomId = document.querySelector("#bottomId");
            var accId = document.querySelector("#accId");
            var shoesId = document.querySelector("#shoesId");



            for (var i = 0; i < outerbox.length; i++) {
                outerbox[i].addEventListener("click", changepic);
            }
            for (var i = 0; i < topbox.length; i++) {
                topbox[i].addEventListener("click", changepic);
            }
            for (var i = 0; i < bottombox.length; i++) {
                bottombox[i].addEventListener("click", changepic);
            }
            for (var i = 0; i < accbox.length; i++) {
                accbox[i].addEventListener("click", changepic);
            }
            for (var i = 0; i < shoesbox.length; i++) {
                shoesbox[i].addEventListener("click", changepic);
            }


            function changepic() {
                var pickSrc = this.getAttribute("src");
                var pickAlt = this.getAttribute("alt");


                if (this.getAttribute("class") == "shoesimgbox") {
                    shoesCody.setAttribute("src", pickSrc);
                    shoesId.setAttribute("value",pickAlt);
                    console.log(shoesId.getAttribute(value))
                }

                if (this.getAttribute("class") == "outerimgbox") {
                    outerCody.setAttribute("src", pickSrc);
                    outerId.setAttribute("value",pickAlt);
                    console.log(shoesId.getAttribute(value))
                }
                ;

                if (this.getAttribute("class") == "topimgbox") {
                    topCody.setAttribute("src", pickSrc);
                    topId.setAttribute("value",pickAlt);
                    console.log(shoesId.getAttribute(value))
                }
                ;
                if (this.getAttribute("class") == "bottomimgbox") {
                    bottomCody.setAttribute("src", pickSrc);
                    bottomId.setAttribute("value",pickAlt);
                    console.log(shoesId.getAttribute(value))
                }
                ;
                if (this.getAttribute("class") == "accimgbox") {
                    accCody.setAttribute("src", pickSrc);
                    accId.setAttribute("value",pickAlt);
                    console.log(shoesId.getAttribute(value))
                }
                ;


            }

        });

    </script>
</div>

</html>