<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Detail Page'">

<div layout:fragment="content" class="container" style="background-color: #FFFFFF;">
    <div class="row justify-content-center py-5">
        <div id="product_img">
            <div id="brandname">
                <h3><b>Brand name</b></h3>
            </div>
            <div id="imgbox">
                <img th:src="${item.urls.get(0)}">
            </div>

            <div id="imgboxs_mini">
                <div id="imgbox_mini"><img id="mini" th:src="${item.urls.get(0)}"></div>
                <div th:if="${item.urls.size()} >=2" id="imgbox_mini"><img id="mini" th:src="${item.urls.get(1)}"></div>
                <div th:if="${item.urls.size()} >=3" id="imgbox_mini"><img id="mini" th:src="${item.urls.get(2)}"></div>
                <div th:if="${item.urls.size()} >=4" id="imgbox_mini"><img id="mini" th:src=${item.urls.get(3)}></div>
                <div th:if="${item.urls.size()} >=5" id="imgbox_mini"><img id="mini" th:src=${item.urls.get(4)}></div>
                <div th:if="${item.urls.size()} >=6" id="imgbox_mini"><img id="mini" th:src=${item.urls.get(5)}></div>
                <div th:if="${item.urls.size()} >=7" id="imgbox_mini"><img id="mini" th:src=${item.urls.get(6)}></div>
                <div th:if="${item.urls.size()} >=8" id="imgbox_mini"><img id="mini" th:src=${item.urls.get(7)}></div>
                <div th:if="${item.urls.size()} >=9" id="imgbox_mini"><img id="mini" th:src=${item.urls.get(8)}></div>
                <div th:if="${item.urls.size()} >=10" id="imgbox_mini"><img id="mini" th:src=${item.urls.get(9)}></div>
            </div>
        </div>

        <div id="product_info">
            <hr>
            <h4>Product Info</h4><p th:text="${item.name}"/><hr>
            <p><h6>Brand / Id</h6>브랜드 / 아이디</p>
            <i id="ic-like" th:class="${like_status} ? 'fas fa-heart':'far fa-heart'" class="far fa-heart"> 좋아요 개수</i>
            <p><h6>Gender</h6>성별</p>
            <p><h6>Size</h6>사이즈 드롭다운 배치</p>
            <p><h6>Price</h6>₩ <span th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}"></span></p>
            <div id="buyandcartbtn">
                <button type="button" id="buybtn">Buy Now</button>
                <form th:action="@{/cart/list}" method="post" style="text-align: center;">
                    <button id="cartbtn"
                            type="submit"
                            name="item_id"
                            th:value="${item.id}">
                        Add Cart</button>
                </form>

                <button id="like" class="btn btn-dark col-12 mx-1 my-21">
                    <i id="like_status" th:class="${like_status} ? 'fas fa-heart':'far fa-heart'" class="far fa-heart"></i>
                    찜하기
                </button>
                <!--                <button type="button" id="cartbtn">Add Cart</i></button>-->
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">My Store</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function (){
            $("#like").click(function (){
                $.ajax({
                    type: 'GET', // 요청 방식
                    url: '/store/like', // 요청 보낼 주소
                    data: 'id=[[${item.id}]]', // 보낼 파라미터
                    // 127.0.0.1:8080/store/like?id=28
                    dataType: 'json', // 응답메시지의 content-type 을 json으로 (json타입으로 받겠다!)
                    success: function (result){
                        // Modal 띄우기
                        $('.modal-body').html(result.message);
<!--                        $('#exampleModalCenter').modal('show');-->
                        if(result.status){
                          $("like_status").attr('class','fas fa-heart');
                        }
                        else{
                          $("like_status").attr('class','far fa-heart');
                        }

                        // TODO 빈 하트모양 아이콘을 꽉찬 하트모양 아이콘으로 변경
                    }

                });
            });
        });

    </script>
</div>

</html>