<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content">
    <div class="container px-5 py-5" id="likelist_container">
        <form method="post" name="cartForm" th:action="@{/cart/list}">
            <h2>Wish list</h2>
            <p>마음에 드는 상품을 골라 코디해보세요.</p>

            <div id="wishlist_table_box">
                <table id="wishlist_table" class="table table-bordered table-responsive-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width:8%">select</th>
                        <th scope="col">image</th>
                        <th scope="col">name</th>
                        <th scope="col">price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${likeList}">
                        <td class="text-center align-middle">

                            <input type="checkbox" id="customCheck1" name="item_id" th:value="${item.id}">

                        </td>
                        <td class="align-middle text-center"
                            th:onclick="location.href='/store/detail/[[${item.id}]]'">
                            <img th:src="${item.image1}" style="width: 50px;"></td>

                        <td class="align-middle" th:text="${item.name}"></td>

                        <td class="align-middle">
                            ₩ <span th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}"></span>

                        </td>

                    </tr>
                    </tbody>
                    <tfoot>
                    <td colspan="4" class="text-center">
                        <button class="btn btn-light" onclick="forms['cartForm'].submit()">Add Cart</button>
                    </td>
                    </tfoot>
                </table>
            </div>



        </form>
    </div>
</div>


</html>