<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Detail Page'">

<div layout:fragment="content" class="container" style="background-color: white;">
    <h2> My Style </h2>
    <p>Coordinate your own style.</p>

    <div id="codybox">
        <div class="cody" id="cody_outer">Outer</div>
        <div class="cody" id="cody_top">Top</div>
        <div class="cody" id="cody_bottom">Bottom</div>
        <div class="cody" id="cody_shoes">Shoes</div>
        <div class="cody" id="cody_bag">Bag</div>

    </div>
</div>
</html>