<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='Weather'">

<div layout:fragment="content" class="container" style="background-color: #FFFFFF;">
    <!-- 현재 날 조회 목록 -->
    <div>
        <h2 id="pageLogo">Weather</h2>
        <small>We'll show you the weather within 10 days or less.</small>
    </div>

    <div>
        <br>
        <input class="w-15" id="city" type="text" placeholder=" Seoul">
        <button type="button" class="btn btn-white" id="weatherSearchBtn">Search</button>
    </div>

    <table class="table table-horizontal table-bordered" id="weatherTable">
        <thead class="thead-strong">
        <tr align="center">
            <th>Day</th>
            <th>Area</th>
            <th>Weather</th>
            <th>AM/PM</th>
            <th>Temperature</th>
        </tr>
        </thead>
        <tbody id="weatherList">
        <tr th:each="weather:${weatherList}" align="center">
            <td th:text="${weather.baseDate}"></td>
            <td th:text="${weather.city}"></td>
            <td th:text="${weather.localWeather}"></td>
            <td th:text="${weather.meridiem}"></td>
            <td th:text="${weather.temperature}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>

<script>
    var main = {
        init: function () {
            var _this = this;
            $('#weatherSearchBtn').on('click', function () {
                _this.weatherList();
            });
        },
        weatherList: function () {
            var data = {
                baseDate: $('#baseDate').val(),
                meridiem: $('#meridiem').val(),
                city: $('#city').val(),
                temperature: $('#temperature').val(),
                localWeather: $('#localWeather').val()
            };
            $.ajax({
                type: 'get',
                url: '/weather/weatherList?city=' + data.city,
                // dataType: 'json',
                // contentType: 'application/json; charset=utf-8',
                // data: JSON.stringify(data),
                cache: false
            }).done(function (fragment) {
                $('#weatherList').replaceWith(fragment);
                alert("날씨 조회에 성공했습니다.")
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    };
    main.init();

</script>